.categories{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       width:100%;
       margin-top: 3rem;
       gap:2rem;
       
}

.cat-1 h1{
       font-size: 22px;
       text-align: center;
       font-weight: bolder;
}

.category-data-btn{
       display: flex;
       flex-direction: column;
       gap: 1rem;
       justify-content: center;
       align-items: center;
       


       
}
.cat-2{
       display:flex;
       gap:1rem
}

.cat-2 button{
       color: black;
        background-color: #fff;
       border-radius: 5px;
       padding:5px 15px;
       border-color:rgb(205, 200, 200);
       cursor: pointer;
       font-weight: 400;
}

.cat-2 button:hover {
border-color:black;
}

.categories-products{
display: flex;
justify-content:center;
align-items: center;
gap: 1rem;
flex-wrap: wrap;
max-width:900px;
}

.categories-products .linkc{
       text-decoration: none;
}


/*///////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width:673px) {

       .wrap{

             height: 100vh;
             
.cat-2 {
         flex-direction: column;
         align-items: center;
         justify-content: center;
         position:fixed;
         top:5rem;
         padding: 2rem;
         z-index: -1;
       box-shadow: 10px 0 20px rgba(213, 209, 209, 0.1);
     
       }

}
.category-data-btn {
       display: flex;
       flex-direction: row;
       position: relative;
       
}


.categories-products {
 max-width:300px;
 margin-left:10rem;
}

.cat-1 h1 {
       margin-left: 10rem;
}

}

@media screen and (max-width:488px) {

.categories-products {
              
              margin-left:13rem;
       }

       .cat-1 h1 {
              margin-left: 13rem;
       }

}

@media screen and (max-width:442px) {

.cat-2 {
              flex-direction: column;
              align-items: center;
              justify-content: center;
              height: 100vh;
              position: fixed;
              top: 5rem;
              left: 2rem;
              padding:10px;
              width:50px;
              box-shadow: none;
       }
.categories-products {

       margin-left:8rem;
}

.cat-1 h1 {
       margin-left:8rem;
}

}


@media screen and (max-width:334px) {


.categories-products {

       margin-left:5rem;
}

.cat-1 h1 {
       margin-left:7rem;
}


.cat-2 button {
       
       padding:5px 7px;

      
}

.cat-2{
       left: 1rem;
}



}




